@import './variables.css';

* {
  box-sizing: border-box;
}

html,
body,
#app {
  margin: 0;
  min-height: 100%;
}

body {
  font-family: var(--font-family);
}

.navbar {
  display: flex;
  gap: 1rem;
  padding: 1rem;
}

.navbar a {
  text-decoration: none;
}

.footer {
  padding: 1rem;
}